.label{
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 14pt;
}

.button{
  -fx-font-size: 12pt;
  -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 3, 0.0, 0, 1);
  -fx-font-family: "Segoe UI Semibold";

}

