.root {
  -fx-base: #3f474f;
  -fx-accent: #e7eff7 ;
  -fx-default-button: #7f878f ;
  -fx-focus-color: #efefef;
  -fx-faint-focus-color: #efefef22;
  -fx-focused-text-base-color : ladder(
      -fx-selection-bar,
      -fx-light-text-color 45%,
      -fx-dark-text-color 46%,
      -fx-dark-text-color 59%,
      -fx-mid-text-color 60%
  );
  -fx-focused-mark-color : -fx-focused-text-base-color ;

}

.label {
  -fx-text-fill: white;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 14pt;
}

.button{
  -fx-font-size: 12pt;
  -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 3, 0.0, 0, 1);
}

#titleText{
  -fx-padding: 10;
  -fx-font-size: 30pt;
  -fx-alignment: center;
}


#game-title{
  -fx-border-style: hidden hidden solid hidden;
  -fx-padding: 10;
  -fx-max-width: infinity;
  -fx-alignment: center;
  -fx-border-color: black;
}

#view-pane {
  -fx-background-color: #3f474f;
}

#configBox {
  -fx-border-style: hidden hidden hidden solid;
  -fx-border-color: white;
  -fx-padding: 10;
  -fx-pref-width: 200;
}

#boardBox {
  -fx-padding: 10;
}

#currentBoardLabel {
  -fx-font-size: 20pt;
  -fx-alignment: center;
}